/* Homepage hero */

.hero {
    position: relative;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    color: #FFFAFA;
    text-shadow: #074407 1.2px 1.5px;
}

.hero .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    background-color: #90ee90;
}

.hero h1 {
    font: bold 60px "Open Sans", sans-serif;
    margin-bottom: 15px;
}

.hero h3 {
    font: normal 28px "Open Sans", sans-serif;
    margin-bottom: 40px;
}

.hero a.btn {
    padding: 20px 46px;
}

.hero-content-area {
    opacity: 0;
    margin-top: 100px;
    animation: 1.5s slidefade 1.4s forwards;
}

@keyframes slidefade {
    100% {
        opacity: 1;
        margin: 0;
    }
}

@media screen and (max-width: 800px) {
    .hero {
        min-height: 600px;
    }
    .hero h1 {
        font-size: 48px;
    }
    .hero h3 {
        font-size: 24px;
    }
    .hero a.btn {
        padding: 15px 40px;
    }
}





/* Footer Section  */

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1e7b1e;
    color: #FFFAFA;
    padding: 20px 0;
}

footer ul {
    display: flex;
    list-style-type: none;
}

footer ul li {
    margin-left: 22px;
}

footer p {
    text-transform: uppercase;
    font-size: 18px;
    opacity: 0.8;
    align-self: center;
}

@media screen and (max-width: 1100px) {
    footer {
        flex-direction: column;
    }
    footer p {
        text-align: center;
        margin-bottom: 20px;
    }
    footer p :nth-child(2) {
        margin: 0 10px 0;
    }
    footer ul li {
        margin: 0 8px;
    }
}