/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Dancing+Script:wght@400..700&family=Orbitron:wght@400..900&family=Permanent+Marker&display=swap');

/* GENERAL STYLES */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Orbitron", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    color: #FFFAFA;
}

html, body {
    height: auto;
}

.main {
    height: 100%;
    width: 100vw;
    padding-bottom: 80px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* NAVIGATION BAR */
.navbar {
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    width: 100vw;
    height: 60px;
    font-size: 1.1rem;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 5px 5px 5px rgba(85, 85, 85, 0.6);
    text-align: center;
    padding: 5px 0;
    z-index: 9;
}

.nav-link-list {
    display: inline-block;
    padding-right: 3rem;
    align-content: center;
}

.nav-link-list ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    column-gap: 1.6rem;
}

.nav-link-list ul li a {
    color: #90ee90;
    text-decoration: none;
    position: center;
    transition: all 0.3s;
}

.nav-link-list ul li a:hover {
    text-decoration: none;
    border-bottom: 2px solid #90ee90; /* Border under navbar */
}

.nav-link:active {
    border-bottom: 2px solid #90ee90; /* Persistent border under active page */
}

#nav-logo-image {
    height: 50px;
    width: 50px;
}

.nav-logo {
    padding-left: 4rem;
}

.nav-logo:hover {
    cursor: pointer;
}

.hamburger-sm {
    display: none;;
}

/* NAVIGATION BAR - SMALL SCREEN */
@media screen and (max-width: 768px) {
    html, body {
        padding: 0;
        margin: 0;
    }

    .navbar {
        /* overflow: hidden; */
        font-size: 0.8rem;
        height: auto;
        background-color: rgba(0, 0, 0, 0.8);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .nav-link-list {
        font-weight: bold;
        font-size: 0.9em;
        background: #000101;
        text-align: center;
        margin: 0 20px 10px 20px;
        padding: 0;
    }

    .nav-link-list ul {
        display: flex;
        flex-direction: row;
        justify-content: center;
        column-gap: 1.2rem;
        height: auto;
        background-color: rgba(0, 0, 0);
    }
    .nav-logo-container {
        padding-bottom: 8px;
    }
    .nav-logo {
        padding-left: 0;
    }

    #nav-logo-image {
        margin: 0.6rem 0 0;
        height: 40px;
        width: 40px;
    }
}

/* HERO STYLES */
.hero {
    margin: 0 auto;
    position: relative;
    justify-content: center;
    text-align: center;
    max-height: 90vh;
    max-width: 50vw;
    color: #FFFAFA;
    text-shadow: #074407 1.2px 1.5px;
    padding-bottom: 50px;
}

.hero .hero-logo {
    margin-top: 110px;
    height: 300px;
    width: 300px;
}

.hero h1 {
    font: bold 45px "Open Sans", sans-serif;
    margin-top: 0;
    margin-bottom: 15px;
    text-shadow: 3px 3px 3px rgba(17, 16, 16, 0.8);
}

.hero h3 {
    font: normal 24px "Open Sans", sans-serif;
    margin-bottom: 40px;
    text-shadow: 2px 2px 2px rgba(17, 16, 16, 0.8);
}

.hero a.btn {
    background-color: #1e7b1e;  /* Light green color */
    text-decoration: none;
    color: #FFFAFA;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 18px;
    padding: 20px 46px;
}

.hero a.btn:hover {
    background-color: #77cc77; /* Darker shade of light green */
    cursor: pointer;
}

.hero-content-area {
    opacity: 0;
    margin-top: 70px;
    animation: 1.8s slidefade 1.7s forwards;
    -webkit-animation: 1.8s slidefade 1.7s forwards;
}

.hero .intro {
    font-size: 1.2em;
    line-height: 1.6;
    margin: 15px 0;
    color: #fff;
    width: 60vw;
}

@keyframes slidefade {
    100% {
        opacity: 1;
        margin: 0;
    }
}

/* HERO STYLES - SMALL SCREEN */
@media screen and (max-width: 768px) {
    .hero {
        min-height: 600px;
        max-width: 90vw;
        margin-top: 90px;
    }

    .hero h1 {
        font-size: 1.9em;
    }

    .hero h3 {
        font-size: 1em;
    }

    .hero a.btn {
        padding: 15px 40px;
    }

    .hero-logo {
        display: none;
    }
}

/* ABOUT US STYLES*/

/* BOOKING STYLES*/

/* CONTACT US STYLES*/


/* FOOTER STYLES */
footer {
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.9);
    color: #90ee90;
    /* color: #FFFAFA; */
    padding: 0 6rem;
}

footer ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

footer ul li {
    padding: 0 20px;
}


footer p {
    font-size: 16px;
    align-self: center;
}

footer p #copyright-copy {
    text-transform: uppercase;
    font-size: 16px;
    align-self: center;
}

@media screen and (max-width: 768px) {
    footer {
        flex-direction: column-reverse;
        height: auto;
        padding: 15px 0 15px 0;
    }

    footer p {
        text-align: center;
        margin-bottom: 20px;
        font-size: 9px;
    }

    footer p #copyright-copy {
        font-size: 9px;
    }

    footer p :nth-child(2) {
        margin: 0 10px 0;
    }
    footer ul {
        margin-bottom: 1.1rem;
    }

    footer ul li {
        margin: 0 8px;
    }
}
