/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: normal 16px sans-serif;
    color: #17510c;
}

nav,
li {
    list-style: none;
}

a {
    text-decoration: none;
    opacity: 0.75;
    color: #FFFAFA;
    z-index: 1;
}

a.nav-item:hover {
    opacity: 1;
    border-bottom: 1px solid #FFFAFA;
}

a.btn {
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    background-color: #115a11;
    opacity: 1;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 80px;
}

section:not(.hero):nth-child(even) {
    background-color: #43913d;
}

.grid {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

hr {
    width: 250px;
    height: 3px;
    background-color: #17510c;
    border: 0;
    margin-top: 40px;
    margin-bottom: 50px;
}

section h3.title {
    text-transform: capitalize;
    font: bold 32px "Open Sans", sans-serif;
    margin-bottom: 30px;
    text-align: center;
}

section p {
    max-width: 775px;
    line-height: 2;
    padding: 0 20px;
    margin-bottom: 30px;
    text-align: center;
}

@media screen and (max-width: 800px) {
    section {
        padding: 50px 20px;
    }
}


/* Header Styles */

header {
    position: absolute;
    z-index: 1;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 100px 10px;
    animation: 2s fadein 0.5s forwards;
    opacity: 0;
    color: #FFFAFA;
    background-color: rgba(85, 85, 85, 0.2);
    box-shadow: 2px 2px 2px rgba(85, 85, 85, 0.6);
}

@keyframes fadein {
    100% {
        opacity: 1;
    }
}

header h2 {
    font-family: "Quicksand", sans-serif;
}

header nav {
    display: flex;
    flex-direction: row;
    margin-right: -15px;
    justify-content: space-around;
}

header nav li {
    margin: 0 15px;
}

@media screen and (max-width: 800px) {
    header {
        padding: 20px 50px;
        flex-direction: column;
        background-color: rgba(85, 85, 85, 0.2);
        box-shadow: 2px 2px 2px rgba(85, 85, 85, 0.6);
    }
    header h2 {
        margin-bottom: 15px;
    }
}


/* Hero Styles */

.hero {
    position: relative;
    justify-content: center;
    text-align: center;
    min-height: 100vh;
    color: #FFFAFA;
    text-shadow: #074407 1.2px 1.5px;
}

.hero .background-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    z-index: -1;
    background-color: #90ee90;
}

.hero h1 {
    font: bold 60px "Open Sans", sans-serif;
    margin-bottom: 15px;
}

.hero h3 {
    font: normal 28px "Open Sans", sans-serif;
    margin-bottom: 40px;
}

.hero a.btn {
    padding: 20px 46px;
}

.hero-content-area {
    opacity: 0;
    margin-top: 100px;
    animation: 1.5s slidefade 1.4s forwards;
}

@keyframes slidefade {
    100% {
        opacity: 1;
        margin: 0;
    }
}

@media screen and (max-width: 800px) {
    .hero {
        min-height: 600px;
    }
    .hero h1 {
        font-size: 48px;
    }
    .hero h3 {
        font-size: 24px;
    }
    .hero a.btn {
        padding: 15px 40px;
    }
}


/* Form Section  */

.form-container {
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.3); /* Lighter background */
    border-radius: 10px;
    box-sizing: border-box;
}

.form-container h2 {
    color: #17510c; 
    text-align: center;
}
.form-container p {
    margin-bottom: 20px;
    line-height: 1.6;
    text-align: center;
}
.form-container label {
    display: block;
    margin-bottom: 5px;
    color: #17510c; 
    font-weight: bold;
}
.form-container input, textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    color: #000;
}
.form-container input[type="submit"] {
    background-color: #115a11; 
    color: #FFFAFA;
    border: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 5px;
    font-size: 16px;
}
.form-container input[type="submit"]:hover {
    background-color: #77cc77; /* Darker shade of light green */
}


/* Packages Section */

.packages .why-us li {
    letter-spacing: 1px;
    line-height: 30px;
}

.packages .grid li {
    padding: 50px;
    flex-basis: 50%;
    text-align: center;
}

.packages .grid li svg {
    color: #90ee90;
}

.packages .grid li h4 {
    font-size: 30px;
    margin: 25px 0;
}

@media screen and (max-width: 800px) {
    .packages .grid li {
        flex-basis: 100%;
        padding: 20px;
    }
}


/* Testimonials Section  */

.testimonials .quote {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    margin: 40px 0 25px;
}

@media screen and (max-width: 800px) {
    .testimonials .quote {
        font-size: 18px;
        margin: 15px 0;
    }
    .testimonials .author {
        font-size: 14px;
    }
}


/* Contact Section  */

.contact form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 60%;
}

.contact form .btn {
    padding: 18px 42px;
}

.contact form input {
    padding: 15px;
    margin-right: 30px;
    font-size: 18px;
    color: #555;
    flex: 1;
}

@media screen and (max-width: 1000px) {
    .contact form input {
        flex-basis: 100%;
        margin: 0 0 20px 0;
    }
}


/* Footer Section  */

footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #90ee90;
    color: #fff;
    padding: 20px 0;
}

footer ul {
    display: flex;
}

footer ul li {
    margin-left: 22px;
}

footer p {
    text-transform: uppercase;
    font-size: 14px;
    opacity: 0.6;
    align-self: center;
}

@media screen and (max-width: 1100px) {
    footer {
        flex-direction: column;
    }
    footer p {
        text-align: center;
        margin-bottom: 20px;
    }
    footer p :nth-child(2) {
        margin: 0 10px 0;
    }
    footer ul li {
        margin: 0 8px;
    }
}